<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kancare.mobile"
    android:versionCode="19"
    android:versionName="1.1.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="os.zxs.force.core.util.ContextUtil"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.frame.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity android:name=".activity.patient.PatientInfoActivity" >
        </activity>
        <activity android:name=".activity.courserecord.CourseRecordListActivity" >
        </activity>
        <activity android:name=".activity.questionnaire.QuestionnaireListActivity" >
        </activity>
        <activity android:name=".activity.questionnaire.QuestionnaireActivity" >
        </activity>
        <activity android:name=".activity.questionnaire.QuestionnaireResultActivity" >
        </activity>
        <activity android:name=".activity.questionnaire.QuestionnaireNriActivity" >
        </activity>
        <activity android:name=".activity.courserecord.CourseRecordInfoActivity" >
        </activity>
        <activity android:name=".activity.patient.PatientViewActivity" >
        </activity>
        <activity android:name=".activity.CnisLogListActivity" >
        </activity>
        <activity android:name=".activity.bodyanalysis.BodyAnalysisListActivity" >
        </activity>
        <activity android:name=".activity.bodyanalysis.BodyAnalysisInfoActivity" >
        </activity>
        <activity android:name=".activity.laboratoryindex.LaboratoryIndexListActivity" >
        </activity>
        <activity android:name=".activity.laboratoryindex.LaboratoryIndexInfoActivity" >
        </activity>
        <activity android:name=".activity.mealrecord.MealRecordActivity" >
        </activity>
        <activity android:name=".activity.mealrecord.MealRecordInfoActivity" >
        </activity>
        <activity android:name=".activity.questionnaire.QuestionnaireChartActivity" >
        </activity>
        <activity android:name=".activity.laboratoryindex.LaboratoryIndexChartActivity" >
        </activity>
        <activity android:name=".activity.frame.VersionActivity" >
        </activity>
        <activity android:name=".activity.advice.AdviceListActivity" >
        </activity>
        <activity android:name=".activity.advice.AdviceInfoActivity" >
        </activity>
        <activity android:name="com.flyco.tablayoutsamples.ui.SimpleHomeActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity android:name="com.flyco.tablayoutsamples.ui.CommonTabActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity android:name="com.flyco.tablayoutsamples.ui.SegmentTabActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity android:name="com.flyco.tablayoutsamples.ui.SlidingTabActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
    </application>

</manifest>